.error {
    color: rgb(172, 32, 32);
}
html {
  overflow-x: hidden;
}
body {
  margin: 0;
  font-family: sans-serif;
  background-color: #e6e6fa;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: blanchedalmond;
  background-repeat: repeat;
  background-size: 10%;
}

#hform {
  padding: 6%;
  background-color: #e6e6fa;
  margin-top: 40px;
  text-align: center;
}